<div data-role='page' class='mushra'>

<div data-role="header">

<a 
    href="{{ site.url }}{{ page.next_url }}"
    class='back-button'
    class='ui-btn-left ui-btn ui-btn-inline ui-mini
           ui-corner-all ui-btn-icon-left ui-icon-carat-l'>
    Back
</a>

<h1 class='title'></h1>

<a 
    href="{{ site.url }}{{ page.next_url }}"
    class='next-button ui-btn-right ui-btn ui-btn-inline ui-mini
           ui-corner-all ui-btn-icon-right ui-icon-carat-r'>
    Next
</a>

{% assign config = site.data[page.config_file] %}

<!-- Popup window if all listener tries to move on before listening to all samples -->
<div data-role="popup" class="listen-to-all-samples-popup" data-position-to="window" data-transition="turn">
    <p>Please listen to all samples before moving on</p>
</div>

<!-- Main layout -->
<div data-role="main" class="ui-content  mushra-container">
{{ content }}

<button class="mushra-reference" data-inline="true">Reference</button>
<button class="mushra-stop" data-inline="true">Stop</button>

<table>
<tr>
{% for label in config.labels %}
<th>{{ label }}</th>
{% endfor %}
</tr>
</table>

<div class="mushra-slider-container" data-role="ui-content"></div>
</div>

</div>

<!-- JS -->

<script type="text/javascript">

$(document).on('pageinit', function() {

    var config = JSON.parse('{{ config | jsonify}}');
    config.siteURL = "{{ site.url }}";
    var mushraObj = new Mushra(config);

});

</script>
