@charset "UTF-8";

.mushra-container {
    text-align: center;
}

.mushra-table {

    table-layout: fixed;
    font-size: 1em;

    width: 80%;
    margin-left: 10%;

    @media only screen and (max-width: $breakpoint) {
        font-size: 0.7em;
        width: 100%;
        margin-left: 0;
    }
}

.mushra-table table, th, td {
    border: 1px solid black;
}

.mushra-slider-container {
    text-align: center;
    display: table;
    margin: 0px auto;
    width: 100%;
};

.mushra-slider-container .ui-slider-input {
    width: 40px;
    font-size: 0.8em;
    border-width: 0;
    text-align: left;

    @media only screen and (max-width: $breakpoint) {
        display: none;
    }
}

.mushra-slider-container .ui-slider-track {

    width: 80%;
    margin-left: 10%;

    @media only screen and (max-width: $breakpoint) {
        width: 100%;
        margin-left: 0;
    }
}
